body {
    background-image: url('./img/fondo-cine2.png');
    background-repeat: no-repeat;
    background-size: 100vw;
}
.container {
    width: 60%;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 6% auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}
.title3 {
    font-size: 2rem;
    font-family: 'Montserrat';
    color: #F24738;
}
.form-label {
    font-family: 'Roboto', "Helvetica Neue", Arial;
    color: white;
}
.form-check-label {
    font-family: 'Roboto', "Helvetica Neue", Arial;
}
.form-control {
    background-color: rgba(0,0,0,.8)
}
.btn {
    border-radius: 25px;
}
@media (max-width: 1024px) {
    body {
        background: #333333;  /* fallback for old browsers */
        background: linear-gradient(to top, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}
