* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    #076df2,
    #034aa6,
    #021f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-attachment: fixed; */
}
.contenedor {
  background-image: url(./img/body-img2.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.navcolor {
  background: #0f2027; /* fllback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #076df2,
    #034aa6,
    #021f59
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #076df2,
    #034aa6,
    #021f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand img {
  width: 100px;
}
.iBuscar {
  border-radius: 25px 0 0 25px;
}
.botonB {
  border-radius: 0 25px 25px 0;
}
.boton {
  border-radius: 25px;
}
.contenedor-carousel {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 70%;
  padding-top: 8rem;
}

img {
  border-radius: 3rem;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: #fff;
}

section {
  padding-top: 1rem;
}

img:hover {
  transform: scale(1.075);
  transition-duration: 1s;
}
