* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "titulos";
  src: url(./Fuentes-colores/Rye-Regular.ttf);
}

@font-face {
  font-family: "navbar";
  src: url(./Fuentes-colores/Shojumaru-Regular.ttf);
}

@font-face {
  font-family: "subtitulo";
  src: url(./Fuentes-colores/RubikGlitch-Regular.ttf);
}

@font-face {
  font-family: "text-body";
  src: url(./Fuentes-colores/PermanentMarker-Regular.ttf);
}

body {
  background-image: url(./img/body-img2.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.navcolor {
  background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  background: linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  font-family: "navbar";
}
.navbar-brand img {
  width: 100px;
}
.iBuscar {
  border-radius: 25px 0 0 25px;
}
.botonB {
  border-radius: 0 25px 25px 0;
}
.boton {
  border-radius: 25px;
}
.contenedor-carousel {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 70%;
  margin-top: 5rem;
  padding-top: 2rem;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: #fff;
}

.carousel {
  margin-top: 1rem;
  padding-top: 1rem;
}

img:hover {
  transform: scale(1.075);
  transition-duration: 1s;
}

.reproduccion {
  display: flex;
  align-self: center;
  margin-top: 8rem;
  margin-left: 10rem;
}
.navcolor {
  font-family: "Oswald";
  background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  background: linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  z-index: 2;
}
.navbar-brand img {
  width: 100px;
}
.iBuscar {
  border-radius: 25px 0 0 25px;
}
.botonB {
  border-radius: 0 25px 25px 0;
}
.boton {
  border-radius: 25px;
}

.card-movie {
  background: none;
  box-shadow: 1px 5px 20px 5px rgba(239, 231, 231, 0.2);
  text-align: center;
  align-items: center;
  margin: 2rem auto;
  border: #fff 2px solid;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.658);

  opacity: 1;
}

.card-text {
  color: #fff;
  font-family: sans-serif;
  font-size: large;
}

.imangen-card {
  width: 50%;
  padding: 1rem 0 1rem 0;
}
.card-title {
  font-size: 2rem;
}

.b-example-divider {
  border-radius: 50%;
  height: 5rem;
  background-color: rgba(234, 232, 242, 0.2);
  border: solid rgba(97, 92, 92, 0.313);
  border-width: 2px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(16, 16, 182, 0.607),
    inset 0 0.125em 0.5em rgba(5, 35, 230, 0.532);
}

#menu {
  font-family: "navbar";
}

@media (max-width: 1290px) {
  body {
    background-image: url(./img/body-img.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
}

.duracion {
  font-size: 30px;
  font-family: "text-body";
  color: #fff;
}

.card-body-price {
  background-color: -webkit-linear-gradient(
    to bottom,
    #076df2,
    #034aa6,
    #021f59
  );
  background: linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  z-index: 2;
}

footer {
  background-color: -webkit-linear-gradient(
    to bottom,
    #076df2,
    #034aa6,
    #021f59
  );
  background: linear-gradient(to bottom, #076df2, #034aa6, #021f59);
  z-index: 2;
}

.cards-integrantes {
  margin-top: 10rem;
}
